[SETTINGS]
;              Advantage Local Server yapilandirma dosyasi
;              Windows 11 uyumlu - Terkon Veresiye

; Baglanti sayisi
CONNECTIONS=20

; Tablo sayisi
TABLES=50

; Indeks dosyasi sayisi
INDEXES=75

; Veri kilidi sayisi
LOCKS=500

; Hata gunluugu maksimum boyutu (KByte)
ERROR_LOG_MAX=1000

; Hata gunlugu dizini - program klasorune yazilir (C:\ yerine, Windows 11 uyumlu)
ERROR_ASSERT_LOGS=.\

; Karakter seti - Turkce
ANSI_CHAR_SET=Turkish
OEM_CHAR_SET=TURKISH

; Diske yazma suresi (milisaniye)
FLUSH_FREQUENCY=20000

; Linux icin (Windows'ta dikkate alinmaz)
LOWERCASE_ALL_PATHS=
