[SETTINGS]
CONNECTIONS=20
TABLES=50
INDEXES=75
LOCKS=500
ERROR_LOG_MAX=1000
; Hata logu program klasorune yazilir (yazilabilir alan)
ERROR_ASSERT_LOGS=.\
ANSI_CHAR_SET=Turkish
OEM_CHAR_SET=TURKISH
FLUSH_FREQUENCY=20000
LOWERCASE_ALL_PATHS=
